:root {
    --primary-bg-color : rgb(65, 165, 42);
    --menus-bg-color : rgb(18, 18, 11);
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg-color);
}

header{
    display: flex;
    position: fixed;
    height: 15%;
    width: 98%;
    background-color: var(--menus-bg-color);
}

.logo{
    display: flex;
    height: 100px;
    width: auto;
}

#bigdiv{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#researchBar{
    z-index: 1;
    width: 55%;
    height: 50px;
    background-color: rgb(150, 145, 145);
    border-radius: 30px;
    border: none;
}

.video{
    width: 420px; 
    height: 345px;
    z-index: 0;
}

.categoriesBar {
    /* display: flex; */
    display: none;
    position: fixed;
    width: 15%;
    height: 90%;
    left: 0.35%;
    top: 10%;
    background-color: var(--menus-bg-color);
}

.redirectToWatch {
    position: fixed;
    opacity: 0;
    z-index: 1;
    background-color: blue;
    height: 22vh; /* Dimensions of the embeded videos : height */
    width: 19.5vw; /* Dimensions of the embeded videos : width */
}