:root {
    --primary-bg-color : brown;
    --menus-bg-color : rgb(18, 18, 11);
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg-color);
}

header{
    display: flex;
    position: fixed;
    height: 15%;
    width: 98%;
    background-color: var(--menus-bg-color);
}

.logo{
    display: flex;
    height: 100px;
    width: auto;
}

#bigdiv{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#researchBar{
    z-index: 1;
    width: 55%;
    height: 50px;
    background-color: rgb(150, 145, 145);
    border-radius: 30px;
    border: none;
}

.video{
    width: 420px; 
    height: 345px;
}

.categoriesBar {
    display: flex;
    position: fixed;
    width: 15%;
    height: 90%;
    left: 0.35%;
    top: 10%;
    background-color: var(--menus-bg-color);
}